<header>
        <div class="header">
                <div class="logo">
                    <img class="logo-img" src="./images/logo-book.png" alt="">                    
                    <p class="logo-text">MyBookApp</p>
                </div>
                <div class="custom-nav">
                        <a class="help-center" href="">help center</a>
                        <p class="dot">•</p>
                        <a class="our-support" href="">our support</a>
                        <div class="user-info">
                            <img class="user-pic" src="./images/rihanna.jpg" alt="">                            
                            <p class="user-name">rihanna</p>
                            <span class="icon-circle-down"></span>
                        </div>
                </div>
            </div>
        </div>
    </header>